@-moz-document domain("arconaitv.me") {
html {
    background: #212121 !important;
}

.flowplayer .fp-controls,
.flowplayer .fp-title,
.flowplayer .fp-fullscreen,
.flowplayer .fp-unload,
.flowplayer .fp-close,
.flowplayer .fp-embed,
.flowplayer.aside-time .fp-time {
    background-color: rgba(0, 0, 0, 0) !important;
}
}