body, html {
  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  width: 100%;
  margin: auto;
  text-align: center;
}

#container {
  max-width: 800px;
  margin-left: auto; margin-right: auto;
}

a {
  color: #0070bb;
  text-decoration: none;
}

a:hover {
  color: #035;
}

small {
  color: #555;
}


.wip {
  color: #300;
}

.boring {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.boring:hover {
  opacity: 0.8;
}

.emphasis a {
  font-weight: bold;
}


.tags {
  padding-right: 10px;
  color: #555;
}

.description {
  padding-left: 10px;
}