/* Video progress bar */
.html5-play-progress,
.ytp-play-progress {
    background: url("https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/Youtube/Videoprogressbar.gif") no-repeat !important;
    background-size: 100% 11px !important;
    box-shadow: 2px 0px 5px rgba(255, 46, 46, 0.75) !important;
}

/* Video load bar */
.html5-load-progress,
.ytp-load-progress {
    background: url("https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/Youtube/Videoloadbar.gif") repeat !important;
    background-size: 100% 11px !important;
    box-shadow: 1px 0px 5px rgba(30, 10, 10, .5);
}

/*Player Bar Hover*/
.ytp-hover-progress,
.ytp-hover-progress-light {
    background: rgba(201, 156, 156, 0.1);
}

/*Progress Bar Container */
.ytp-progress-list {
    z-index: 39;
    background: rgba(255, 255, 255, .019);
    box-shadow: 0px 0px 5px rgba(20, 20, 20, .09);
    height: 100%;
}

/* Scrubber button */
.html5-scrubber-button,
.ytp-scrubber-button {
    background: url("https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/Youtube/Scrubberbutton.gif") no-repeat !important;
    background-size: 20px 20px !important;
    width: 24px !important;
    height: 24px !important;
    margin-left: -13px !important;
    margin-top: -3px !important;
    border: none !important;
}

/*Timer*/
.ytp-time-current {
    color: rgba(245, 54, 54, .9);
    text-shadow: 0px 0px 5px rgba(25, 0, 0, 1);
}

.ytp-time-separator {
    color: rgba(188, 51, 51, 0.88);
    text-shadow: 0px 0px 12px rgba(105, 0, 0, 1);
}

.ytp-time-duration {
    color: rgba(245, 54, 54, 0.9);
    text-shadow: 0px 0px 5px rgba(25, 0, 0, 1);
}

/*Menu Buttons */
.ytp-playlist-menu-button-icon .ytp-svg-fill,
.ytp-chrome-top .ytp-button:not(.ytp-playlist-menu-button) .ytp-svg-fill,
.ytp-chrome-controls .ytp-button .ytp-svg-fill {
    fill: rgba(220, 50, 50, 0.8);
}

/* #ytp-svg-33,
#ytp-svg-7,
#ytp-svg-8,
#ytp-svg-9,
#ytp-svg-10,
#ytp-svg-11,
#ytp-svg-12 {
    fill: rgba(220, 50, 50, 0.8);
} */

/* Fullscreen Button */
.ytp-fullscreen-button-corner-0,
.ytp-fullscreen-button-corner-1,
.ytp-fullscreen-button-corner-2,
.ytp-fullscreen-button-corner-3,
.ytp-fullscreen-close-button-corner-0,
.ytp-fullscreen-close-button-corner-1,
.ytp-fullscreen-close-button-corner-2,
.ytp-fullscreen-close-button-corner-3 {
    fill: rgba(220, 50, 50, 0.8);
}

/* Volume slider */
.ytp-big-mode,
.ytp-volume-slider-handle:before,
.ytp-volume-slider-track {
    background: linear-gradient(to right, rgba(15, 0, 0, 0.75) 0%, rgba(97, 21, 21, 0.7) 35%, rgba(123, 30, 30, 0.77) 55%, rgba(255, 31, 31, 0.88) 100%);
    box-shadow: 0px 0px 5px rgba(255, 46, 46, 0.055);
}

/*Volume slider background track*/
.ytp-volume-slider-handle:after {
    left: 4px;
    background: rgba(255, 255, 255, .07);
}

/*Volume slider handle */
.ytp-volume-slider-handle {
    background: rgba(220, 91, 91, 0.9);
    box-shadow: 0px 0px 6px rgba(153, 0, 0, 1);
}

/* Badge HD-4k-5k-8k-3D */
.ytp-settings-button.ytp-hd-quality-badge:after,
.ytp-settings-button.ytp-4k-quality-badge:after,
.ytp-settings-button.ytp-5k-quality-badge:after,
.ytp-settings-button.ytp-8k-quality-badge:after {
    background-color: rgba(255, 92, 92, 1) ! important;
}

/* HD letters in menu */
.ytp-swatch-color {
    color: rgba(255, 117, 117, 1) !important;
}

/* Background -> offer, notes, subtitles, etc. */
.ytp-panelpopup {
    background: rgba(175, 8, 8, 0.9) none repeat scroll 0% 0%;
    color: rgba(170, 170, 170, 1);
}

/*TEXT z panel pop-up*/
.ytp-menu-label-secondary {
    color: rgba(170, 170, 170, 1);
}

/* Checked item */
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
    background: rgba(255, 255, 255, 1) !important;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(80, 153, 255, 1) 100%) !important;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(80, 153, 255, 1) 100%) !important;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(80, 153, 255, 1) 100%) !important;
    border-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 0px 10px rgba(80, 153, 255, 1), 0px 0px 12px rgba(80, 153, 255, 1), 0px 0px 14px rgba(80, 153, 255, 1) !important;
    content: '';
}

.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox:before {
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.ytp-big-mode .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox:before {
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

/* Unchecked item */
.ytp-menuitem[aria-checked="false"] .ytp-menuitem-toggle-checkbox {
    background: rgba(255, 255, 255, 1) !important;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, #ED0000 100%) !important;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, #ED0000 100%) !important;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, #ED0000 100%) !important;
    box-shadow: 0px 0px 10px #ED0000, 0px 0px 12px #ED0000, 0px 0px 14px #ED0000 !important;
    content: '';
    background-image: none;
}

/* 'Watch on YouTube' logo for other websites */
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge {
    fill: rgba(80, 153, 255, 1) !important;
}

/* Settings gear */
.ytp-settings-button svg {
    -moz-transition: -moz-transform .3s cubic-bezier(.5, 1, .4, 1);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.5, 1, .4, 1);
    -ms-transition: -ms-transform .3s cubic-bezier(0.5, 1, .4, 1);
    transition: transform .3s cubic-bezier(.5, 1, .4, 1);
}

.ytp-settings-button[aria-expanded=true] svg {
    -moz-transform: rotateY(180deg) translateY(-4px);
    -ms-transform: rotateY(180deg) translateY(-4px);
    -webkit-transform: rotateY(180deg) translateY(-4px);
    transform: rotateY(180deg) translateY(-4px);
}

.ytp-big-mode .ytp-settings-button[aria-expanded=true] svg {
    -moz-transform: rotateY(180deg) translateY(-7px);
    -ms-transform: rotateY(180deg) translateY(-7px);
    -webkit-transform: rotateY(180deg) translateY(-7px);
    transform: rotateY(180deg) translateY(-7px);
}

/* April 16th 2016 Player Font Fix */
.html5-video-player,
.ytp-contextmenu {
    font-family: sans-serif !important;
    font-weight: normal !important;
}

/* Hide region on YouTube logo */
/* a#logo-container > span.content-region {
    display: none !important;
} */

/* Hide channel logo in player's bottom right corner */
.annotation.iv-branding {
    display: none !important;
}
