@-moz-document url-prefix("https://tweetdeck.twitter.com/"), url-prefix("https://web.tweetdeck.com/") {
/* Snowflake Minima Black for TweetDeck.
Snowflake Minima is a TweetDeck CSS modification that's designed to look the most minimalistic possible.
It is based upon Snowflake Classic Black by Diamant and implements some features of pixeldesu's Modern TweetDeck modification.
You must use it with TweetDeck Dark Theme, and it is better used with Eramdam's Better TweetDeck Chrome extension.
However, if you are to use it with Better TweetDeck, you must firstly disable the "Minimal" mode as it will conflict with the theme and look not so good.
The creators of the themes used are Diamant (@diamantlefou), Berter (@BerterTheBoss) and pixeldesu (@pixeldesu or http://pixelde.su/) and was recompiled in a more fitting theme by me, Scimitar (@AlmtyCwrd)
*/

/* implement fonts */

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v3/0xES5Sl_v6oyT7dAKuoni6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v3/0xES5Sl_v6oyT7dAKuoni5QV2lvL5Ba9FjAYK6Lx0Qk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfhNcqx07xvyppV96iFRdwiM.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfufhZE2STYI3KzBGzrJG_ik.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfm6cj8HaeL2jS4NIBPr3RFo.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTftcKKn5Xt5n-nnvkqIBMZms.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfvoTkEokFSrSpvYSpZOeZRs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

body,
.fullname,
.username,
.prf-follow-status .s-follows,
.prf-bio,
.location .txt-ellipsis,
.label .action-text .following-text {
    font-family: 'RobotoDraft';
}

.label .action-text .following-text,
.js-social-proof .social-proof-container .txt-base-small .cf .padding-al,
.prf-meta .cf,
.txt-ellipsis,
.pull-left,
.social-proof-names .pull-right {
    font-family: 'RobotoDraft';
}

/* Loading Screen */

body {
    background-image: url('https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/TweetDeck/Loading_Screen.png');
    background-size: cover;
}

/* Scrollbar Changes */

.scroll-styled-v::-webkit-scrollbar-thumb,
.scroll-styled-h::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #333;
}

.scroll-styled-v::-webkit-scrollbar-thumb:hover,
.scroll-styled-h::-webkit-scrollbar-thumb:hover .scroll-v::-webkit-scrollbar-thumb:hover,
.scroll-h::-webkit-scrollbar-thumb:hover {
    background-color: #4F4F4F;
}

.scroll-styled-v::-webkit-scrollbar-thumb:active,
.scroll-styled-h::-webkit-scrollbar-thumb:active .scroll-v::-webkit-scrollbar-thumb:active,
.scroll-h::-webkit-scrollbar-thumb:active {
    background-color: #4F4F4F;
}

.scroll-styled-v::-webkit-scrollbar-track,
.scroll-styled-h::-webkit-scrollbar-track {
    border-left: 0px;
    border-radius: 0px;
}

.scroll-v::-webkit-scrollbar-thumb,
.scroll-h::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #333;
}

.scroll-v::-webkit-scrollbar-track,
.scroll-h::-webkit-scrollbar-track {
    border-left: 0px;
    border-radius: 0px;
    background: transparent;
}

/* Fix colors in Accounts */

div.account-summary-text.nbfc.padding-tm.account-link {
    color: #ccc;
}

.is-inverted-dark .accordion .is-active {
    color: #ccc;
}

/* Column-Update Sprite */

.column-header,
.column-header-temp {
    border-bottom: 0px;
}

.sprite-column-update {
    width: 100%;
    height: 1px;
    border-bottom: 3px solid #ffffff;
    margin-top: -1px;
}

.column-updates {
    margin-left: 0px;
    left: 0%;
}

.column-type-icon {
    display: none;
}

.tweet-dogear {
    display: block;
}

/* Fixing RT blocks font color */

.js-mdl-header,
.mdl-header {
    color: #cccccc;
}

#actions-modal > div > div.js-inreply.cmp-replyto.item-box.is-inverted-dark > div > header > a > div.nbfc > span {
    color: #cccccc;
}

#actions-modal > div > div.js-inreply.cmp-replyto.item-box.is-inverted-dark > div > div > p {
    color: #cccccc;
}

/* Fixing "Follow" Button color */

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > button > div.action-text.follow-text > span {
    color: #AB2C2C;
    display: none;
}

/* Compose box colors and padding */

.js-compose-title {
    margin-left: 0px !important;
}

.padding-bm {
    padding-right: 22px;
}

.drawer .tweet-text {
    color: #AB2C2C !important;
}

.compose-remember-state,
.character-count-compose:disabled,
.txt-r-text-link {
    color: #AB2C2C !important;
}

.compose-text-title {
    color: #AB2C2C;
}

.compose-text {
    background-color: #171717;
    color: #ccc;
    border-color: #171717;
}

.compose-text-container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px;
    border-color: #171717 !important;
    background-color: #171717 !important;
}

.compose-reply-tweet {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 5px;
}

.compose-media-bar {
    border: 1px solid #171717;
}

.compose-accounts {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.compose-reply-tweet .tweet-body a {
    color: #AB2C2C !important;
}

.txt-r-white {
    color: #AB2C2C;
}

.compose-media-bar-holder {
    background-color: #171717;
}

body > div.js-app.application.is-condensed.hide-detail-view-inline > div.js-app-content.app-content > div > div > div > div > div.js-account-list.margin-bm.compose-accounts.cf.is-list > a.js-account-item.compose-account.margin-bl.is-actionable.is-selected.cf > div.pull-left.compose-account-names {
    color: #AB2C2C;
}

body > div.js-app.application.is-condensed.hide-detail-view-inline > div.js-app-content.app-content > div > div > div > div > div.js-account-list.margin-bm.compose-accounts.cf.is-list > a > div.pull-left.compose-account-names {
    color: #AB2C2C;
}

/* Dropdown menus tweaks */

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div {
    background-color: #171717;
}

.list-item {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div > div.js-popover-content.scroll-none > form > div > input {
    background-color: #171717;
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div > div.js-popover-content.scroll-none > div.js-typeahead-dropdown.scroll-v.scroll-styled-v > div {
    background-color: #171717;
}

.caret-inner {
    border-bottom: 6px solid #171717;
}

body > div.js-app.application.is-condensed > header > div > nav > div {
    background-color: #171717;
    border-color: #171717;
}

.non-selectable-item {
    color: #ccc;
}

.dropdown-menu [data-action] {
    color: #ccc;
}

.drp-h-divider {
    background-color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > div > span > div {
    background-color: #171717;
    border-color: #171717;
}

/* Keyboard shortcut fix */

.keyboard-shortcut-list-modal .mdl-content {
    background-color: #171717;
}

#open-modal > div > div > div {
    color: #aaa;
}

/* Profile tweaks */

.prf-actions {
    background-color: #171717 !important;
}

.prf-meta.cf {
    background-color: #171717 !important;
}

.prf .lst-profile span {
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al {
    background-color: #171717 !important;
}

.is-inverted-dark .btn-alt {
    background-color: #171717 !important;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.pull-left {
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.social-proof-names.pull-right {
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul {
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul > li > a > strong {
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul:hover {
    color: #AB2C2C
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > div > span > button > i {
    color: #AB2C2C;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-profile-columns > ul > li > a {
    border-color: #171717;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > button > div.label.js-action-profile.action-text.thats-you-text {
    color: #AB2C2C !important;
}

/* Selecting tweaks */

::selection {
    background-color: #AB2C2C;
    color: #fff;
}

/* Fixes the bug that makes the tweet button appear when it shouldn't. */

.compose-content .pull-right .btn.is-disabled {
    color: rgba(87, 87, 87, 0.73);
}

/* Hides the 1px bar showing in profiles. */

.js-customtimeline-description {
    display: none;
}

/* Selected tweet replybox color fix */

.detail-view-inline-text {
    background-color: #171717;
    color: #ccc;
}

/* Profile tweets fix */

.js-detail-content {
    padding-bottom: 0px !important;
}

.scroll-conversation {
    background: #171717 !important;
}

.js-tweet.tweet-detail {
    color: #ccc;
}

.tweet-detail-wrapper {
    background-color: #171717 !important;
    border-color: #171717 !important;
}

.mdl-dismiss {
    color: #ccc !important;
}

.mdl {
    border-radius: 0px;
}

#open-modal > div > div > div > div > div.js-left-pinned.pin-top > form > div > input {
    background-color: #171717 !important;
    color: #ccc;
}

/* Settings fix */

.lst-group .js-setting-list {
    color: #ccc;
}

.mdl-col-settings {
    background-color: #171717;
}

.frm {
    color: #ccc;
}

.is-inverted-dark .list-link,
.is-inverted-dark .list-twitter-list,
.is-inverted-dark .list-subtitle,
.is-inverted-dark .list-account,
.is-inverted-dark .list-listmember {
    color: #ccc;
}

.list-link,
.list-twitter-list,
.list-subtitle,
.list-account,
.list-listmember,
.list-account,
.list-listaccount,
.list-subtitle,
.list-filter {
    color: #ccc;
}

.btn {
    border-color: #171717 !important;
}

/* Column options hotfix */

.column-options {
    top: 4px !important;
    background-color: transparent;
}

.is-options-open .column-settings-link {
    background-color: #171717;
}

.column-message {
    background-color: #171717;
}

/* Search results hotfix */

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-content.is-expanded.is-active > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-content > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > span {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-content > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > i {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-user > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > i {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-user > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > span {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-engagement > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > span {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-header.position-rel > div > div.js-search-filter.js-accordion.accordion.accordion-divider-t > div.js-accordion-item.facet-type.facet-type-engagement > div.js-accordion-toggle-view.accordion-header.is-actionable.link-clean.block.cf.txt-base-medium > div.obj-left.facet-title > i {
    color: #ccc;
}

.app-search-tweet-results .column-header-temp {
    background: linear-gradient( to bottom, #171717, rgba(23, 23, 23, 0.9)) !important;
    height: 30px !important;
}

.column-background-fill {
    background-color: #171717
}

span.column-head-title {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-body.pin-all.is-inverted-dark > div.js-tweet-results.app-search-tweet-results > section > div > div > div.js-column-content.column-content > div.js-column-scroller.js-dropdown-container.column-scroller.scroll-v.scroll-styled-v.column-background-fill.scroll-alt > div > article > div > div > div {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-body.pin-all.is-inverted-dark > div.js-tweet-results.app-search-tweet-results > section > div > div > div.js-column-content.column-content > div.js-column-scroller.js-dropdown-container.column-scroller.scroll-v.scroll-styled-v.column-background-fill.scroll-alt > div > article > div > div > header > a > div.nbfc > span > b {
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search.has-overlay > div > div > div.js-popover-content.scroll-none > div.js-search-results-container > div > div.js-fhf-body.pin-all.is-inverted-dark > div.js-tweet-results.app-search-tweet-results > section > div > div:nth-child(1) > div.js-column-content.column-content > div.js-column-scroller.js-dropdown-container.column-scroller.scroll-v.scroll-styled-v.column-background-fill.scroll-alt > div > article:nth-child(1) > div {
    padding-top: 33px;
}

.is-inverted-dark .facet-type-content.is-active {
    background-color: rgba(12, 12, 12, 0);
}

.is-inverted-dark .facet-type-user.is-active {
    background-color: rgba(12, 12, 12, 0);
}

.is-inverted-dark .facet-type-engagement.is-active {
    background-color: #171717;
}

.is-inverted-dark .txt-mute {
    background-color: #171717;
    color: #ccc;
}

select.js-containing {
    background-color: #171717;
    color: #ccc;
}

input.js-excluding.search-input {
    background-color: #171717;
    color: #ccc;
}

select.js-written-in {
    background-color: #171717;
    color: #ccc;
}

select.js-retweets {
    background-color: #171717;
    color: #ccc;
}

select.js-tweets-from {
    background-color: #171717;
    color: #ccc;
}

select.js-mentioning {
    background-color: #171717;
    color: #ccc;
}

/* Legacy code */

.application,
.app-content,
.app-columns-container {
    background-color: #171717;
}

.column {
    background: #171717;
    border-radius: 6px;
    border: none;
}

.column-header,
.column-header-temp {
    background: #171717;
    background-color: #171717;
    z-index: 2;
    border-bottom-color: transparent;
}

.column-content {
    top: 0px;
}

.column-options {
    top: 50px;
}

.scroll-conversation,
.column-nav-item,
.app-navigator,
.app-title,
.compose-reply-tweet,
.compose-account,
.facet-type.is-expanded,
.column-options .button-tray,
.compose .antiscroll-scrollbar,
.account-row-separator-b:after {
    background-color: transparent;
}

.stream-item,
.compose-header,
.facet-type,
.with-column-divider-bottom {
    border-bottom: none;
}

.tweet-detail-wrapper {
    background: transparent;
    border-color: transparent;
}

.detail-view-inline {
    border-top: none;
}

.app-header {
    background-color: #171717;
}

.with-nav-border-t:before,
.facet-type-thumb-size,
.accordion-divider-t {
    border-top: none;
}

.numbered-badge-onnav {
    border: none;
}

.compose,
.bg-r-light-gray {
    background: linear-gradient( to right, #171717, #171717);
    color: #AB2C2C;
}

.compose-remember-state,
.character-count-compose:disabled,
.txt-r-text-link {
    color: white;
}

.is-selected.compose-account,
.compose-account-selected {
    box-shadow: none;
}

.drawer-header {
    border-bottom: none;
    z-index: 2;
    background-color: #171717;
}

.is-open .drawer:after {
    content: ' ';
    display: block;
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
    width: 1px;
    top: 0;
    left: 270px;
    height: 100%;
    margin-right: 0;
    margin-left: -2px;
}

.txt-r-dark-gray {
    color: #AB2C2C;
}

.drawer-content {
    top: 0px;
    z-index: 1;
    padding-top: 55px;
}

.drawer .tweet-text {
    color: white
}

.btn-positive-on-blue[disabled],
.btn-positive-on-blue[disabled]:hover,
.btn-positive-on-blue[disabled]:active,
.btn-positive-on-blue.is-disabled,
.btn-positive-on-blue.is-disabled:hover,
.btn-positive-on-blue.is-disabled:focus,
.btn-positive-on-blue.is-disabled:active,
.btn-on-blue[disabled],
.btn-on-blue[disabled]:hover,
.btn-on-blue[disabled]:active,
.btn-on-blue.is-disabled,
.btn-on-blue.is-disabled:hover,
.btn-on-blue.is-disabled:focus,
.btn-on-blue.is-disabled:active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.btn.is-disabled,
.btn.is-disabled:hover,
.btn.is-disabled:focus,
.btn.is-disabled:active {
    border-color: transparent;
    background-color: transparent;
    color: transparent;
}

.btn-positive-on-blue,
.btn:active,
.btn.is-selected {
    color: #AB2C2C;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
}

.btn-on-blue,
.btn-positive,
.btn-positive-alt,
.btn-fav.s-favorited,
.s-following .follow-btn,
.attach-compose-buttons .tweet-button {
    color: #AB2C2C;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-positive-on-blue:hover,
.btn-positive-on-blue:focus,
.btn-positive:hover,
.btn-positive-alt:hover,
.btn-fav.s-favorited:hover,
.s-following .follow-btn:hover,
.btn-positive:focus,
.btn-positive-alt:focus,
.btn-fav.s-favorited:focus,
.s-following .follow-btn:focus,
.btn-on-blue:focus,
.btn-on-blue:hover,
.btn-on-blue:focus,
.btn-on-blue:hover,
.btn:hover,
.btn:focus {
    color: grey;
    background-color: transparent;
    border-color: transparent;
}

.compose-text-container {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #ddd;
}

.btn {
    background-color: transparent;
    color: #AB2C2C;
    border: none;
}

.btn-negative {
    color: #A00;
}

.app-search-fake {
    color: #AB2C2C;
    background-color: transparent;
    box-shadow: none;
}

.app-search-input {
    border-radius: 6px;
    background-color: white;
    box-shadow: none;
}

.inline-reply {
    background-color: transparent;
}

.inline-reply .icon {
    color: #AB2C2C;
}

.med-fullpanel {
    background-color: transparent;
}

.mdl {
    box-shadow: none;
    background-color: #171717;
    border-radius: 6px;
}

.mdl-content {
    border: none;
    background: #171717;
    color: white
}

.mdl-column-med {
    background: transparent;
}

.mdl-column-rhs {
    border-left: transparent;
    background-color: #171717
}

.mdl-column-rhs .stream-item {
    background-color: #171717
}

.mdl-dismiss-media,
.is-inverted-light .mdl-dismiss-media {
    color: #AB2C2C
}

.mdl-dismiss-media:hover,
.is-inverted-light .mdl-dismiss-media:hover,
.mdl-dismiss-media:focus,
.is-inverted-light .mdl-dismiss-media:focus {
    color: grey;
}

.lst-group .selected,
.lst-group .selected:hover {
    background: #AB2C2C;
    border-radius: 6px;
}

.lst-group .selected .fullname {
    color: white
}

.lst-group .selected .username {
    color: white
}

.is-inverted-light,
.is-inverted-light .account-link {
    color: #292F33;
}

.tweet-stats {
    border-top: none;
}

.tweet-detail-actions {
    border-top: none;
}

.detail-view-inline-text,
.input-group-button {
    border: none;
}

.cmp-replyto {
    background-color: transparent;
    border-top: none;
}

.accs li,
.accs .acc-selected,
.accs .acc-selected:hover {
    border: none;
    background: none;
}

.accs li:hover {
    background: transparent;
}

.accs .icon {
    color: grey;
}

.accs .acc-selected i {
    color: #AB2C2C;
}

.is-inverted-light a {
    color: #AB2C2C;
}

.is-inverted-light a:hover,
.is-inverted-light a:focus,
.is-inverted-light a:active {
    color: grey;
    text-decoration: none;
}

a {
    color: #AB2C2C;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: grey;
    text-decoration: none;
}

.is-selected .reply-triangle {
    visibility: hidden;
}

.prf-header {
    background-image: none;
}

input,
textarea,
select,
.uneditable-input {
    border: none;
}

.btn-neutral-negative {
    color: #dd2e44;
}

.prf-stats li + li a {
    border-left: none;
}

.prf-actions,
.social-proof-container {
    background-color: #fff;
}

.is-options-open .column-settings-link {
    border-color: transparent;
}

.app-search-tweet-results .column-header-temp {
    background: linear-gradient( to bottom, #fff, rgba(255, 255, 255, 0.9));
    height: 50px;
}

.avatar,
.prf-img {
    border-radius: 20%;
}

.social-proof-for-tweet-title {
    background-color: transparent;
    border-bottom: none;
}

.column-nav-link:hover,
.app-nav-link:hover {
    color: #AB2C2C;
}

.is-inverted-light .tweet-action,
.is-inverted-light .tweet-detail-action {
    color: #AB2C2C;
}

.is-inverted-light .tweet-action:hover,
.is-inverted-light .tweet-detail-action:hover,
.is-inverted-light .tweet-action:focus,
.is-inverted-light .tweet-detail-action:focus {
    color: grey;
}

.column-content {
    padding-top: 50px;
}

.column-temp .column-header,
.column-header-temp {
    border-bottom: none;
}

.is-new .column-type-icon {
    color: #AB2C2C;
}

.txt-mute a:hover,
.txt-mute a:focus {
    color: #AB2C2C;
}

.link-complex:hover .link-complex-target,
.link-complex:focus .link-complex-target,
.link-complex:active .link-complex-target {
    text-decoration: none;
}

.icon-user-switch:hover {
    color: #AB2C2C;
}

.list-item:hover,
.list-item:active,
.list-item.is-selected,
.list-item:hover .list-icon,
.list-item:active .list-icon,
.list-item.is-selected .list-icon {
    color: #AB2C2C;
    background-color: transparent;
}

.is-selected-tweet {
    background-color: rgba(157, 67, 67, 0.1)
}

#open-modal .tweet-body {
    color: white
}

#open-modal .fullname {
    color: white
}

.lst-group .selected .fullname {
    color: white
}

.lst-group .selected .username {
    color: white
}

.lst-group .selected {
    border-radius: 0px
}

.column-nav-flyout .column-nav-item {
    background-color: #171717
}

.column-nav-flyout .column-nav-item span {
    color: white
}

.btn span,
.mdl-header-title,
.mdl-inner .column-head-title {
    color: white
}

.compose-reply-tweet .fullname {
    color: #AB2C2C
}

.compose-reply-tweet .icon-close:before {
    color: white
}

.list-account {
    text-shadow: none;
}

#open-modal li:hover:not(.selected) .fullname {
    color: black
}

#open-modal li .list-account {
    border-radius: 0px
}

#open-modal li:hover.selected .list-account {
    background: grey
}

#open-modal li:hover.selected .fullname {
    color: #AB2C2C
}

.btn span,
.mdl-header-title,
.mdl-inner .column-head-title {
    color: white
}

/* Column Header Condensing; this was originally written by pixeldesu */

.js-column-header {
    height: 30px;
    line-height: 30px;
}

.column-header {
    height: 30px;
    line-height: 30px;
}

.js-tweet-results .column-header {
    height: 50px;
    line-height: 50px;
}

.column-drag-handle {
    height: 15px;
}

.column-content {
    top: 30px;
}

.column-title-back .icon {
    top: 50%;
}

/* Column Width/Spacing; this was also written by pixeldesu */

.is-wide-columns .column {
    width: 350px;
    margin-right: 1px;
}

.is-wide-columns .app-columns {
    padding-top: 1px;
    padding-left: 1px;
}

.is-narrow-columns .app-columns {
    padding-top: 1px;
    padding-left: 1px;
}

.app-columns {
    padding: 1px 0 1px 1px;
}

.js-column {
    margin: 0 1px 0 0;
}

.is-narrow-columns .column {
    margin-right: 1px;
}

.antiscroll-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.compose-accounts {
    padding-left: 10px;
    padding-right: 10px;
}

.compose-text-container {
    margin-left: 10px;
    margin-right: 10px;
}

.js-compose-hint {
    margin-left: 10px;
    margin-right: 10px;
}

.js-compose-title {
    margin-left: 10px;
}

.js-media-added {
    padding-left: 10px;
    padding-right: 10px;
}

.compose-reply-tweet {
    margin-left: 10px;
    margin-right: 10px;
}

.js-send-tweet-button {
    margin-right: 10px;
}

.js-add-image-button {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
}

.js-schedule-button {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
}

.js-dm-button {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
}

.js-tweet-button {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
}

.js-compose-message-recipient > p {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
}

.inline-reply .compose-text-container {
    display: inline-block;
    width: 94%;
}

/* ==OPTIONAL==
Just add the slashes and asterisk at the two extremities of the code to deactivate and option */


/* Display colored bar on the side instead of orange and green Fav/RT corners */

.tweet-dogear {
    display: block;
    width: 0.1px;
    height: 100%;
    background-image: none;
}

.is-favorite .tweet-dogear {
    border-right: 3px solid #ff9b00;
    box-shadow: 0px 0px 0px #ff9b00;
}

.is-retweet.is-favorite .tweet-dogear {
    border-right: 3px solid #ffffff;
    box-shadow: 0px 0px 0px #ffffff;
}

.is-retweet .tweet-dogear {
    border-right: 3px solid #71b332;
    box-shadow: 0px 0px 0px #71b332;
}

/* Changing colors of link if the tweet is fav/RT/favRT */

.is-retweet .tweet-text a {
    color: #71b332;
}

.is-favorite .tweet-text a {
    color: #ff9b00;
}

.is-retweet.is-favorite .tweet-text a {
    color: #ffffff;
}

/* Squared Avatars
note: if you are using better tweetdeck's rounded avatars, this theme will override these. */

.tweet-avatar {
    border-radius: 0px !important;
}
.avatar {
    border-radius: 0px !important;
}
.size24 {
    border-radius: 0px !important;
}
.size72 {
    border-radius: 0px !important;
}
.prf-img {
    border-radius: 0px !important;
}

/* Rounded Avatars */

/*
.tweet-avatar {
    border-radius: 100px;
}

.avatar {
    border-radius: 100px;
}

.size24 {
    border-radius: 100px;
}

.size72 {
    border-radius: 100px;
}

.prf-img {
    border-radius: 100px;
}
*/

/* Implement rounded/squared avatars on retweet boxes */

/* Rounded Avatars, add comment brackets to disable, delete comment brackets to enable */

/* .accs .acc-avatar {
    border-radius: 100px;
} */

/* Square Avatars, add comment brackets to disable, delete comment brackets to enable */

.accs .acc-avatar {
    border-radius: 0px;
}

/* DO NOT TOUCH THIS UNLESS YOU KNOW WHAT YOU ARE DOING */

.padding-al {
    padding: 5px !important
}

.js-customtimeline-description {
    display: none;
}

/* Hotfixes of blue colors */

.icon-unread-color {
    color: #AB2C2C !important;
}

/* Only useful to Better TweetDeck users */

.icon-center-24 {
    color: #AB2C2C !important;
}

.txt-r-dark-gray {
    color: #AB2C2C !important;
}

.pull-right {
    color: #AB2C2C !important;
}

.link-complex.txt-medium.block.cf {
    color: #AB2C2C !important;
}

.dropdown-menu .is-selected {
    background-color: #AB2C2C !important;
}

.icon-sliders {
    color: #AB2C2C !important;
}

.facet-subtitle {
    color: #AB2C2C !important;
}

.toggle-item {
    color: #AB2C2C;
}

.is-inverted-dark a,
.is-inverted-dark a:hover,
.is-inverted-dark a:focus,
.is-inverted-dark a:active {
    color: #AB2C2C;
}

.lst-group .selected a:hover {
    background-color: #AB2C2C;
}

.column-nav-updates {
    color: #ffffff;
}

.is-unread {
    background: rgba(157, 67, 67, 0.66);
}

#container > div > section.js-column.column.column-type-message.will-animate.is-moving > div > div > div.js-column-content.column-content > div.js-column-scroller.js-dropdown-container.column-scroller.scroll-v.scroll-styled-v > div > article.is-unread > div > div > div > div.tweet-body.l-cell > div > p > span > a {
    color: #bbb;
}

.numbered-badge {
    border-radius: 100px !important;
    background-color: #AB2C2C !important;
}

.is-selected-tweet .compose-text {
    background-color: rgba(157, 67, 67, 0.1);
}

.is-selected-tweet .compose-text-container {
    border-color: rgba(157, 67, 67, 0.1) !important;
}

.follow-btn .icon {
    color: #AB2C2C;
}

/* Fixing tweet flash color. This only applies to Better TweetDeck users, other users should not mind. */

@-webkit-keyframes tweet-enter {
    from {
        background-color: rgba(157, 67, 67, 1);
    }
    to {
        background-color: rgba(157, 67, 67, 0);
    }
}

/* Fixes to DM compose box */

.rpl textarea {
    background: #171717;
    border-color: #171717;
    color: #ddd
}

input,
textarea,
select {
    background-color: #171717 !important;
    color: #ddd !important;
    border-color: #171717 !important;
}

/* Dropdown menu fixes */

.dropdown-menu {
    background-color: #171717;
    border-color: #171717;
}

/* Fix button compose shadow */

.btn-compose {
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0)
}

/* Recovered from Snowflake Classic; Spinner color fix */

.spinner-button-icon-spinner {
    background-image: url('https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/TweetDeck/Spinner_color_fix.gif')
}

/* Border hotfix */

.stream-item:not(.conversation-event) {
    border: none !important;
}

.ovl,
.overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Selected accounts fixes */

.compose-account-selected {
    background-color: #AB2C2C;
    border-radius: 100px;
    box-shadow: 0px 0px 0 rgba(17, 17, 17, 0.2)
}

.column-number {
    display: none;
}

.bg-r-white {
    background-color: #171717
}


/* Compose drawer shadow fix */

.drawer {
    z-index: 2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0) !important;
}

.column-title .attribution {
    display: none;
}

/* Loading spinner fix */

.med-embeditem {
    background: transparent url("https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/TweetDeck/Loading_spinner.gif") no-repeat 50% 50%
}

/* Fixing sensitive media background */

.media-sensitive {
    background-color: #171717;
}

.is-inverted-dark .account-link {
    color: #ccc;
}

.prf-img {
    background: rgba(23, 23, 23, 0.4) !important;
    box-shadow: 0 1px 10px rgba(23, 23, 23, 0.85);
    padding: 0px;
}

.prf-header {
    text-shadow: 0 3px 20px rgba( 0, 0, 0, 0.75);
}

.prf .username {
    text-shadow: 0 3px 20px rgba( 0, 0, 0, 0.75);
}

.bg-r-faded-gray {
    background-color: #171717;
}

/* quoted tweet border */

.quoted-tweet {
    background: transparent;
    border: transparent;
}

/* username in column fix */

.btd-ready .column-title .attribution {
    font-size: 10px;
    display: none;
}

.column-message {
    background: transparent;
}

/* fixing the new tweets button */

.js-more-tweets-btn-text {
    display: none;
}

.more-tweets-btn .icon {
    font-size: 1.8em;
    color: #fff !important;
    background-color: #AB2C2C;
    border-radius: 100px;
}

/* neato header tweaks */

span.column-head-title {
    color: #AB2C2C;
}


/* disable this if you dislike the lowercase aesthetic */

/* body {
    text-transform: lowercase !important;
}

button {
    text-transform: lowercase;
}

.prf-stats {
    text-transform: lowercase;
}

.prf .lst-profile span {
    text-transform: lowercase;
}

.prf-follow-status {
    text-transform: lowercase;
}
*/

/* Fixed toggle switch color */

.toggle-switch-input:checked+.toggle-switch-label:before {
    background-color: #AB2C2C;
}

.toggle-switch-label:after {
    border-radius: 0px;
    border: none;
    box-shadow: inset 0px 2px 8px -3px rgba(0, 0, 0, 0.51)
}

/* changing avatar borders */

.is-retweet .tweet-avatar {
    border: 1px outset #71b332;
    box-shadow: 1px 1px 5px #71b332;
}

.is-favorite .tweet-avatar {
    border: 1px outset #ff9b00;
    box-shadow: 1px 1px 5px #ff9b00;
}

.is-retweet.is-favorite .tweet-avatar {
    border: 1px outset #fff;
    box-shadow: 1px 1px 5px #fff;
}

.is-retweet .icon-small-context {
    color: #71b332;
}

.is-favorite .icon-small-context {
    color: #ff9b00;
}

.is-retweet.is-favorite .icon-small-context {
    color: #fff;
}

/* account area fixes */

.drawer-header:after {
    background-color: #171717;
}

.drawer-content .pin-all .scroll-v {
    display: none;
}

.sprite {
    background-image: url("https://raw.githubusercontent.com/JourneyOver/Stuff/gh-pages/Userstyles/Images/TweetDeck/Sprite.png");
}

.js-app-loading img.spinner-centered {
    display: none;
}

.tweet-message .l-table {
    display: none !important;
}

.tweet-message .tweet-avatar {
    width: 24px;
    height: 24px;
}

.is-unread .tweet-message .l-table {
    display: table !important;
    vertical-align: middle;
}

.tweet-message .conversation-indicator {
    display: none;
}

.tweet-message .nbfc {
    margin-left: -25px;
    line-height: 1.6em;
}

.tweet-message .tweet-text {
    margin-left: -24px;
}

.buffer-tweetdeck .icon-buffer,
.buffer-tweetdeck .icon.icon-buffer {
    display: none !important;
}

.js-stream-item-content .tweet-footer {
    display: none;
}

.stream-item {
    padding-bottom: 3px;
}

.js-stream-item-content:hover .tweet-footer {
    display: block;
}

.stream-item:hover {
    padding-bottom: 0px;
}

a[rel="viewDetails"] {
    display: none;
}
