@-moz-document url-prefix("https://tweetdeck.twitter.com/"), url-prefix("https://web.tweetdeck.com/") {
  /* TinaDeck by @Shookaite
  /* Some shadows and animations added to TD
  /* Fits better with Snowflake ( https://github.com/fractalhexagon/snowflake/ )
  /* Don't forget to fuck comments with a cactus like planetary do */
  /* TinaDeck features */

/* rounded avatar corners */
  .avatar {
      border-radius: 10% !important
  }

/* added margin to account list because of shadows */
  .js-account-list {
      margin-left: 5px !important
  }

/* makes the drawer a bit larger for readability */
  .compose-content {
      margin-right: 10px !important
  }

/* Square avatar into profile cards */
  .prf-card-inner .prf-img img,
  .prf-card-inner .prf-img {
      border-radius: 10% !important
  }

/* avatar is glowing blue when hovering it in profile card */
  .prf-card-inner .prf-img:hover img {
      -webkit-box-shadow: 0 0 8px 6px #55acee!important;
      box-shadow: 0 0 8px 6px #55acee!important
  }

/* shipgirl as loading image animation */
 /*  .med-embeditem {
      background-image: url(http://i.imgur.com/mIdyxaB.gif) !important;
  }
*/

/* custom page loading pic */
/* uncomment the second line if you don't like the sunglasses like Eleo */
  body {
      background-image: url(http://i.imgur.com/W8yaHrO.jpg);
      /* background-image: url(http://i.imgur.com/tJ0TgyH.jpg); */
      background-size: cover;
      background-position: center
  }

  /* profile card content disappear when hovering close button, to allow the user seeing the header */
  .js-dismiss:hover + .s-profile .prf-card-inner {
      opacity: 0!important;
      color: rgba(0, 0, 0, 0)!important
  }

  .sprite-close {
      background-image: none!important;
  }

  .sprite-close:after {
      content: 'Inspect header';
      color: white;
      position: relative;
      top: 10px;
      left: 30px;
      text-shadow: 0 0 4px black;
      transition: .5s
  }
/* Shadows */
  .js-dismiss:hover .sprite-close:after {
      text-shadow: 0 0 4px #55acee
  }

/* tweet composer reflects a little shadow on TD columns */
div.is-open .compose {
      -webkit-box-shadow: 4px 0 2px -2px #888;
      box-shadow: 4px 0 2px -2px #888
  }

/* avatar's shadow */
.avatar {
      -webkit-box-shadow: 0 0 3px 2px #888!important;
      box-shadow: 0 0 3px 2px #888!important
  }

/* Global transition delay */
.avatar,
  div.is-open .compose,
  .prf-carn-inner .prf-img img,
  .prf-card-inner {
      transition: 1s
  }
